@model SurveyApp.Queries.ViewModels.SurveyWithQuestionsDto

@{
    ViewData["Title"] = "ShowDetails";
}

<h1>جزئیات نظر سنجی</h1>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <h4>سوالات</h4>
    <hr />
    <ul class="list-group">
        @foreach (var question in Model.Questions)
        {

            <li class="list-group-item question-title">  @Html.DisplayFor(model => question.Title)</li>
            <li class="list-group-item">
                <ul class="list-group">
                    @foreach (var selection in question.Selections)
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(model => selection.Title)
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

</div>
@section TopScripts{
    <link href="~/css/Survey/ShowDetails.css" rel="stylesheet" />
}

@section BottomScripts{
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
    <script src="~/js/Survey/ShowOpenSurveys.js"></script>
}

